<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<div class="topPadding container border">
	Do you have a comment? Or just want to say Hi? Contact Me with the follwoing contact details.
	<address class="container">
		 <i class="fa fa-envelope fa-fw"></i> Email : addictivefazman@gmail.com<br>

		 <i class="fa fa-phone fa-fw"></i> Phone : +254 713 027 855<br>

		 <i class="fa fa-phone fa-fw"></i> Landline : +254 713 027 855 <br>

		 <i class="fa fa-map-marker fa-fw"></i> Address: P.O Box 84 - 70100 Garissa
	</address>
</div>
