<div class="container-flex">
    <div class="search">
        <br>
        <app-user-search (user)='SearchTerm($event)'></app-user-search>
        <br>
    </div>
    <br>
    <h3>{{profiles.login}}</h3>
    <br>
    <div class="row">
        <br>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">User Name:{{profiles.login}}</li>
                <li class="list-group-item">Public Repositories:{{profiles.public_repos}}</li>
                <li class="list-group-item">Date Created:<span><p>Created account on {{profiles.created_at | date}}</p></span></li>
            </ul>
            <br><strong>User Github</strong>:<a class="btn btn-primary" href="{{profiles.html_url}}">View Profile</a>

            <div class="col-md-6">
                <img class="img-thumbnail github-avatar" src="{{profiles.avatar_url}}">
            </div>
        </div>
    </div>