<div style="text-align:center">
    <div class="container-flex">
        <div style="text-align:center">
            <div class="container-flex">
                <h1>{{title}}</h1>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Home</a>
                    <a class="navbar-brand" href="#">GitHub</a>
                    <a class="navbar-brand" href="#">Repositories</a>
                    <a class="navbar-brand" href="#">more</a>
                </nav>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>

<app-git-display></app-git-display>


<router-outlet></router-outlet>