<div style="text-align:center">
    <div class="container-flex">
        <div style="text-align:center">
            <div class="container-flex">
                <h1>{{title}}</h1>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand"  routerLink="/home" routerLinkActive="active">Home</a>
                    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Repositories</a>
                    <a class="navbar-brand" routerLink="/about" routerLinkActive="active">About</a>
                    <a class="navbar-brand" routerLink="/contact" routerLinkActive="active">Contacts</a>
                </nav>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>

<app-git-display></app-git-display>


<router-outlet></router-outlet>
