.container-flex {
    background-color: black;
    padding: 60px;
}

h1 {
    text-align: center;
    color: #369;
    float: left;
    font-size: 60px;
}


/* .navbar {
    width: 500px;
    margin-left: 390px;
    float: right;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    display: inline;
}  */